
/* index/photo gallery */
body{
    background-color: #eeeeee;
    color:#444444;
    font-family: Helvetica;
}
.main{
    margin-top: 0!important;
    margin:150px;
}
.header{
    margin-top: 40px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
}
.gallery-header{
    margin: 10px 0;
    font-size: 70px;
    font-weight: bold;
}
.gallery-subheader{
  margin: 20px 0;

    font-size: 20px;
    color: gray;
}
.image{
    width:32.3%;
    margin:0.5%;
}
/* .image-second{
    width:48.95%;
    margin:0.5%;
}
.image-second img{
    width:100%;
    height:100%;
} */
.image img{
    width:100%;
    height:100%;
    opacity:1;
    transition:0.2s all ease;
}
.image:hover img{
    /* width:100%;
    height:100%; */
    opacity:0.7
}
.navbar{
    margin-top:10px;
    margin-left: 150px;
    margin-right:150px;
    color:gray;
    padding:0;
}
a{
    text-decoration: none;
    color:gray;
}
a:hover{
    text-decoration: none
}
.nav-logo{
  width:50px;
  opacity:1;
  transition:0.2s all ease;
}
.nav-logo:hover{
  opacity:0.5;
}
.nav-logo img{
  width:100%;
  height:100%;
}
ul{
    list-style-type: none;

}
ul li{
    padding:10px 20px;
    font-size: 20px;

}
/* about us */
.about-paragraph{
  padding: 4%;
  border-radius: 10px;
  background-color: white;
  margin: 1% 1%;
  width: 48%;
  box-shadow: 0px 0px 0px white;
  transition: 0.2s all ease;
  text-align: center;
}
.about-paragraph:hover{
  box-shadow: 1px 1px 50px gray;

}
.about-paragraph-text{
  margin:2% 10%;
}
.about-paragraph-text p{
  color:gray;
  font-size: 20px;
}
.about-image{
  margin:0 auto;
  width:30%;
}
.about-image img{
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.about-paragraph-last{
  padding: 4%;
  border-radius: 10px;
  background-color: white;
  margin: 1% 1%;
  width: 98%;
  box-shadow: 0px 0px 0px white;
  transition: 0.2s all ease;
  text-align: center;
}
.about-paragraph-last:hover{
  box-shadow: 1px 1px 50px gray;

}
.about-image-last{
  margin:0 auto;
  width:15%;
}
.about-image-last img{
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.about-paragraph-text-last{
  margin:2% 20%;
}
.about-paragraph-text-last p{
  color:gray;
  font-size: 20px;
}
.student-id{
  color:teal!important;

}
/* Contact us */
.contact-form{
    width:40%;
    margin: 0 auto;
}
.contact-submit-btn{
  margin:0 auto;
  width:100%;
}
.contact-submit-btn button{
  padding:10px;
  font-size: 20px;
  width:100%;
}
.form-group label{
  font-size: 20px;
  color:#444444;
}
.form-group input{
  padding: 10px;
}
/* Map */
.map{
  width:720px;
  border-radius:10px;
  height: 360px;
  margin:50px 10px 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/WorldMap.png");
}
.map a{
  color:red;
}
.mapInfo{
    width:240px;
    height: 360px;
    border-radius:10px;
    margin:50px auto 10px 10px;
    background-color: #eeeeee;
}
.bg{
  color:#eeeeee;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #232323;
}
.circle:before {
  content: '';
   display: inline-block;
   width: 7px;
   height: 7px;
   -moz-border-radius: 7.5px;
   -webkit-border-radius: 7.5px;
   border-radius: 7.5px;
   background-color: red;
  transform: translate(125px, 72px);
  position: absolute;
  font-size: 20px;
}
.circle2:before{
  content: '';
   display: inline-block;
   width: 7px;
   height: 7px;
   -moz-border-radius: 7.5px;
   -webkit-border-radius: 7.5px;
   border-radius: 7.5px;
   background-color: blue;
  transform: translate(126px, 62px);
  position: absolute;
  font-size: 20px;
}
.innerBoxInfo{
  margin-top: 10px;
  font-size: 16px;
  color:#444444;
  margin-left: 10px;
}
